.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;

  min-width: 340px;
  padding: 20px;
  border-radius: 10px;

  box-shadow: 2px 2px 8px 2px rgb(195 195 195 / 100%);
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 88px);
  gap: 15px;
  justify-items: center;

  width: 100%;
}

label {
  padding: 0;
}

.input-block {
  display: flex;
  flex-direction: column;
}

input#email,
input#password,
input#confirm-password {
  width: 100%;
  min-width: 330px;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  padding-right: 3rem;
}

button.password-toggle-btn {
  cursor: pointer;

  position: absolute;
  right: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.15rem;
  border: none;

  color: var(--dark-gray-color);

  background: none;

  transition: color 0.2s ease;
}

button.password-toggle-btn:hover {
  background: var(--background-color);
}

button.password-toggle-btn:focus {
  border: none;
  outline: 1px solid var(--outline-color);
}

.submit-btn {
  height: 40px;
}
