.main-card {
  display: flex;
  flex-direction: column;
  flex-grow: 0.2;
  gap: 3rem;
  align-items: center;
  justify-content: center;

  min-width: 33%;
  padding: 2rem;
}

.controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (width <= 500px) {
  .controls {
    flex-direction: column;
  }

  .controls .button {
    width: 100%;
  }
}

.button {
  cursor: pointer;
  user-select: none;

  margin: 0;
  padding: 4px 23px;
  border: 1px solid transparent;
  border-radius: 8px;

  font-size: clamp(0.875rem, 0.7788rem + 0.3846vw, 1.125rem);
  font-weight: 400;
  line-height: 1.2;
  color: var(--white-color);
  text-align: center;

  background: var(--detail-color);

  transition: all 0.25s;
}

.button:hover {
  color: var(--white-color);
  background-color: var(--dark-detail-color);
}

.button:active {
  transform: scale(0.98);
  color: var(--disabled-color);
  background-color: var(--dark-detail-color);
}

.info {
  max-width: 500px;
}
